<h1>Listing websites</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Title</th>
    <th>Webiste for</th>
    <th class="actions">Actions</th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%=h website.address %></td>
    <td><%=h website.title %></td>
    <td><%=h website.model_name %></td>
    <td><%= link_to image_tag('icons/show.png', :alt => 'Show'), website %></td>
    <td><%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_website_path(website) %></td>
    <td><%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), website, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New website', new_website_path %>