<h2>Websites</h2>

<table>
  thead
    <th>Address</th>
    <th>Title</th>
    <th class="actions">Actions</th>
  </thead>

<% @websites.each do |website| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
		    <td><%=h website.address %></td>
		    <td><%=h website.title %></td>
		    <td class="actions">
		    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), website %>
		    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_website_path(website) %>
		    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), website, :confirm => 'Are you sure?', :method => :delete %>
		    </td>
		  </tr>
	</tbody>
<% end %>
</table>

<%= will_paginate @websites %>

<br />

<%= link_to 'New website', new_website_path %>