<h2>Itineraries</h2>

<table>
  <thead>
    <th>Name</th>
    <th class="actions">Actions</th>
  </thead>

<% @itineraries.each do |itinerary| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
			<td><%=h itinerary.name %></td>
			<td class="actions">
				<%= link_to image_tag('icons/show.png', :alt => 'Show'), itinerary %>
		    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_itinerary_path(itinerary) %>
		    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), itinerary, :confirm => 'Are you sure?', :method => :delete %>
	    	</td>
	  	</tr>
	</tbody>
<% end %>
</table>

<%= will_paginate @itineraries %>

<br />

<%= link_to 'New itinerary', new_itinerary_path %>