<h2>New Itinerary</h2>

<% form_for(@itinerary, :html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :segments, "Build Itinerary" %>
	</p>
	<div class="add-more">Add a: <%= link_to_add_fields "Place", f, :places %>, <%= link_to_add_fields "Event", f, :events %>, or <%= link_to_add_fields "Date Break", f, :date_breaks %></div>
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', itineraries_path %>