<h1>New places_email</h1>

<% form_for(@places_email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </p>
  <p>
    <%= f.label :email_id %><br />
    <%= f.text_field :email_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', places_emails_path %>