<h2>Hours</h2>

<table>
  <thead>
    <th>Start date</th>
    <th>Start time</th>
    <th>End date</th>
    <th>End time</th>
    <th>Days</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th class="actions">Actions</th>
  </thead>

<% @hours.each do |hour| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
		    <td><%=h hour.start_date %></td>
		    <td><%=h hour.start_time %></td>
		    <td><%=h hour.end_date %></td>
		    <td><%=h hour.end_time %></td>
		    <td><%=h hour.days %></td>
		    <td><%=h hour.created_at %></td>
		    <td><%=h hour.updated_at %></td>
		    <td class="actions">
		    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), hour %>
		    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_hour_path(hour) %>
		    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), hour, :confirm => 'Are you sure?', :method => :delete %>
	    	</td>
		  </tr>
	</tbody>
<% end %>
</table>

<%= will_paginate @hours %>

<br />

<%= link_to 'New hour', new_hour_path %>