<h1>Listing itineraries_date_breaks</h1>

<table>
  <tr>
    <th>Itinerary</th>
    <th>Date break</th>
  </tr>

<% @itineraries_date_breaks.each do |itineraries_date_break| %>
  <tr>
    <td><%=h itineraries_date_break.itinerary_id %></td>
    <td><%=h itineraries_date_break.date_break_id %></td>
    <td><%= link_to 'Show', itineraries_date_break %></td>
    <td><%= link_to 'Edit', edit_itineraries_date_break_path(itineraries_date_break) %></td>
    <td><%= link_to 'Destroy', itineraries_date_break, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New itineraries_date_break', new_itineraries_date_break_path %>