<h1>New events_coupon</h1>

<% form_for(@events_coupon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.label :coupon_id %><br />
    <%= f.text_field :coupon_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_coupons_path %>