<h1>Editing itineraries_segment</h1>

<% form_for(@itineraries_segment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :itinerary_id %><br />
    <%= f.text_field :itinerary_id %>
  </p>
  <p>
    <%= f.label :segment_id %><br />
    <%= f.text_field :segment_id %>
  </p>
  <p>
    <%= f.label :segment_model %><br />
    <%= f.text_field :segment_model %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @itineraries_segment %> |
<%= link_to 'Back', itineraries_segments_path %>