<h1>Listing itineraries_segments</h1>

<table>
  <tr>
    <th>Itinerary</th>
    <th>Segment</th>
    <th>Segment model</th>
  </tr>

<% @itineraries_segments.each do |itineraries_segment| %>
  <tr>
    <td><%=h itineraries_segment.itinerary_id %></td>
    <td><%=h itineraries_segment.segment_id %></td>
    <td><%=h itineraries_segment.segment_model %></td>
    <td><%= link_to 'Show', itineraries_segment %></td>
    <td><%= link_to 'Edit', edit_itineraries_segment_path(itineraries_segment) %></td>
    <td><%= link_to 'Destroy', itineraries_segment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New itineraries_segment', new_itineraries_segment_path %>