<h1>Editing number</h1>

<% form_for(@number) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :extension %><br />
    <%= f.text_field :extension %>
  </p>
  <p>
    <%= f.label :device_id, "Device Type:" %><br />
    <% Device.all.each do |device| %>
  		<%= f.radio_button :device_id, device.id %>
    	<%= f.label :device, "#{device.name}" %><br />
    <% end %>	
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @number %> |
<%= link_to 'Back', numbers_path %>