<h2>Numbers</h2>

<table>
  <thead>
    <th>Number</th>
    <th>Extension</th>
    <th>Device</th>
    <th class="actions">Actions</th>
  </thead>

<% @numbers.each do |number| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
		    <td><%=h number.number %></td>
		    <td><%=h number.extension %></td>
		    <td><%=h Device.find_by_id(number.device_id).name %></td>
		    <td class="actions">
		    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), number %>
		    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_number_path(number) %>
		    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), number, :confirm => 'Are you sure?', :method => :delete %>
		    </td>
		  </tr>
	</tbody>
<% end %>
</table>

<%= will_paginate @numbers %>

<br />

<%= link_to 'New number', new_number_path %>