<h1>Listing alliance_members_emails</h1>

<table>
  <tr>
    <th>Alliance member</th>
    <th>Email</th>
  </tr>

<% @alliance_members_emails.each do |alliance_members_email| %>
  <tr>
    <td><%=h alliance_members_email.alliance_member_id %></td>
    <td><%=h alliance_members_email.email_id %></td>
    <td><%= link_to 'Show', alliance_members_email %></td>
    <td><%= link_to 'Edit', edit_alliance_members_email_path(alliance_members_email) %></td>
    <td><%= link_to 'Destroy', alliance_members_email, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alliance_members_email', new_alliance_members_email_path %>