<h1>New alliance_members_hour</h1>

<% form_for(@alliance_members_hour) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :alliance_member_id %><br />
    <%= f.text_field :alliance_member_id %>
  </p>
  <p>
    <%= f.label :hour_id %><br />
    <%= f.text_field :hour_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', alliance_members_hours_path %>