<h3>Events for East Baton Rouge Parish, Louisiana</h3>
<div id="filters">
	<%= render :partial => 'shared/filter', :locals => { :filter_fields => [
			{ :term => params[:name], :label => 'Name' },
			{ :term => params[:location], :label => 'Location' },
			{ :term => params[:contact], :label => 'Contact' },
			{ :term => params[:category], :label => 'Category' }
		] } %>
</div>

<table>
	<thead>
		<th>Name</th>
		<th>City</th>
		<th>Hours Open</th>
		<th class="actions">Actions</th>
	</thead>
	<% @events.each do |event| %>
		<tbody>
			<tr class="<%= cycle('even','odd') %>">
			    <td><%=h event.name %></td>
			    <td><%=h event.city %></td>
			    <td><%=h event.hour_range %></td>
			    <td class="actions">
			    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), event %>
			    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_event_path(event) %>
			    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), event, :confirm => 'Are you sure?', :method => :delete %>
		    	</td>
	  		</tr>
	  	</tbody>
	<% end %>
</table>
 