<h2>Events</h2>

<div id="filters">
	<%= render :partial => 'shared/filter', :locals => { :filter_fields => [
			{ :term => params[:name], :label => 'Name' },
			{ :term => params[:location], :label => 'Location' },
			{ :term => params[:contact], :label => 'Contact' },
			{ :term => params[:category], :label => 'Category' }
		] } %>
</div>

<table>
  <thead>
    <th>Name</th>
    <th>Url</th>
  </thead>

<% @events.each do |event| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
		    <td><%=h event.name %></td>
		    <td><%=h event.url %></td>
		    <td class="actions">
		    	<%= link_to 'Show', event %>
		    	<%= link_to 'Edit', edit_event_path(event) %>
		    	<%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
	    	</td>
  		</tr>
  	</tbody>
<% end %>
</table>

<%= will_paginate @events %>

<br />

<%= link_to 'New event', new_event_path %>