<h1>Editing places_coupon</h1>

<% form_for(@places_coupon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </p>
  <p>
    <%= f.label :coupon_id %><br />
    <%= f.text_field :coupon_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @places_coupon %> |
<%= link_to 'Back', places_coupons_path %>