<script type="text/javascript" charset="utf-8">
	var latitude = <%=h "#{f.object.latitude.to_f || 0}" %>
	var longitude = <%=h "#{f.object.longitude.to_f || 0}" %>
	var model = 'building'
</script>
<% has_map true %>
<div id="map">
  <noscript>You should turn on JavaScript</noscript>
</div>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name, :class => 'title' %>
</p>
<p>
  <%= f.label :building_code %><br />
  <%= f.text_field :building_code %>
</p>
<p>
	<%= f.label :photo %><br />
	<%= f.file_field :photo %>
	<div id="place-photo"><%= image_tag @building.photo.url(:thumbnail) if @building.photo.file? %></div>
</p>
<p>
  <%= f.label :longitude %><br />
  <%= f.text_field :longitude %>
</p>
<p>
  <%= f.label :latitude %><br />
  <%= f.text_field :latitude %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
	<%= f.label :aliases %><br />
	<%= f.text_area :tag_list %>
</p>
