<h2>Buildings</h2>

<div id="filters">
	<%= render :partial => 'shared/filter', :locals => { :filter_fields => [
			{ :term => params[:name], :label => 'Name' },
			{ :term => params["building-code"], :label => 'Building Code' },
		] } %>
</div>

<table>
	<thead>
		<th>Name</th>
		<th>Building Code</th>
		<th>Aliases</th>
		<th class="actions">Actions</th>
	</thead>

<tbody>
	<% @buildings.each do |building| %>
		<tr class="<%= cycle('even','odd') %>">
			<td><%=h building.name %></td>
			<td><%=h building.building_code %></td>
			<td><%=h building.tags.collect(&:name).join(', ') %></td>
			<td class="actions">
				<%= link_to image_tag('icons/show.png', :alt => 'Show'), building_path(building) %>
				<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_building_path(building) if edit_buildings? %>
				<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), building, :confirm => 'Are you sure?', :method => :delete if destroy_buildings? %>
			</td>
		</tr>
	<% end %>
</tbody>

</table>

<%= will_paginate @buildings %>

<br />

<%= link_to 'New building', new_building_path if create_buildings? %>