<h1>New date_breaks_itinerary</h1>

<% form_for(@date_breaks_itinerary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :itinerary_id %><br />
    <%= f.text_field :itinerary_id %>
  </p>
  <p>
    <%= f.label :date_break_id %><br />
    <%= f.text_field :date_break_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', date_breaks_itineraries_path %>