<h1>New places_hour</h1>

<% form_for(@places_hour) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </p>
  <p>
    <%= f.label :hour_id %><br />
    <%= f.text_field :hour_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', places_hours_path %>