<h2>Emails</h2>

<table>
  <thead>
    <th>Address</th>
    <th class="actions">Actions</th>
  </thead>

<% @emails.each do |email| %>
	<tbody>
		<tr class="<%= cycle('even','odd') %>">
		    <td><%=h email.address %></td>
		    <td class="actions">
		    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), email %>
		    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_email_path(email) %>
		    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), email, :confirm => 'Are you sure?', :method => :delete %>
	    	</td>
		 </tr>
	</tbody>
<% end %>
</table>

<%= will_paginate @emails %>

<br />

<%= link_to 'New email', new_email_path %>