<h1>Listing events_emails</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Email</th>
  </tr>

<% @events_emails.each do |events_email| %>
  <tr>
    <td><%=h events_email.event_id %></td>
    <td><%=h events_email.email_id %></td>
    <td><%= link_to 'Show', events_email %></td>
    <td><%= link_to 'Edit', edit_events_email_path(events_email) %></td>
    <td><%= link_to 'Destroy', events_email, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New events_email', new_events_email_path %>