<h1>Listing itineraries_events</h1>

<table>
  <tr>
    <th>Itinerary</th>
    <th>Place</th>
  </tr>

<% @itineraries_events.each do |itineraries_event| %>
  <tr>
    <td><%=h itineraries_event.itinerary_id %></td>
    <td><%=h itineraries_event.place_id %></td>
    <td><%= link_to 'Show', itineraries_event %></td>
    <td><%= link_to 'Edit', edit_itineraries_event_path(itineraries_event) %></td>
    <td><%= link_to 'Destroy', itineraries_event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New itineraries_event', new_itineraries_event_path %>