<h1>New itineraries_event</h1>

<% form_for(@itineraries_event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :itinerary_id %><br />
    <%= f.text_field :itinerary_id %>
  </p>
  <p>
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', itineraries_events_path %>