<h3>Places for East Baton Rouge Parish, Louisiana</h3>
<div id="filters">
	<%= render :partial => 'shared/filter', :locals => { :filter_fields => [
			{ :term => params[:name], :label => 'Name' },
			{ :term => params[:location], :label => 'Location' },
			{ :term => params[:contact], :label => 'Contact' },
			{ :term => params[:category], :label => 'Category' }
		] } %>
</div>

<table>
	<thead>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th class="actions">Actions</th>
	</thead>
	<% @places.each do |place| %>
		<tbody>
			<tr class="<%= cycle('even','odd') %>">
			    <td><%=h place.name %></td>
			    <td><%=h place.address %></td>
			    <td><%=h place.city%>
			    <td class="actions">
			    	<%= link_to image_tag('icons/show.png', :alt => 'Show'), place %>
			    	<%= link_to image_tag('icons/edit.png', :alt => 'Edit'), edit_place_path(place) %>
			    	<%= link_to image_tag('icons/destroy.png', :alt => 'Destroy'), place, :confirm => 'Are you sure?', :method => :delete %>
		    	</td>
	  		</tr>
	  	</tbody>
	<% end %>
</table>
 