<% form_for(@place, :html => { :multipart => true }) do |f| %>
	<%= render :partial => 'shared/notice_messages', :locals => { :css_id_prefix => 'place_', :error_messages => f.error_messages } %>

	<fieldset>
		<legend>Editing Place</legend>
		<%= render :partial => 'form', :locals => { :f => f } %>
	  <p class="submit">
	    <%= f.submit 'Save'%> or <%= link_to 'cancel', places_path %>
	  </p>
		<div class="administrative-information">
			<%= label_tag "Last updated:" %> <%= @place.updated_at.strftime("%D %r") %>
		</div>
	</fieldset>
<% end %>